header {
    background-color: #29aee2;
    color: white;
    padding: 20px;
    text-align: center;
  }
  
  h1 {
    font-size: 24px;
    margin: 0;
  }
  
  form {
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
  }
  
  form h2 {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  label {
    display: block;
    margin-bottom: 10px;
  }
  
  input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  input[type="range"] {
    width: 100%;
  }
  
  button[type="submit"] {
    background-color: #29aee2;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button[type="submit"]:hover {
    background-color: #e61515;
  }